{# HEADER DE NOTRE TEMPLATE DE BASE #}

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{{ path('homepage') }}">SymBNB !</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Accueil <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('ads_show') }}">Annonces <span class="sr-only">(current)</span></a>
            </li>
            
        </ul>
        <ul class="navbar-nav">
            {# RAPPEL: la variable "app" est une variable global qui donne accès à beaucoup d'informations#}
            {# Si un utilisateur est connecté alors... #}
            {% if app.user %} 
                {#{{dump(app.user)}} Affiche toute les informations dans un tableau de l'utilisateur connecté #}
                <li class="nav-item dropdown">
                    <!-- Lien qui ouvre la liste déroulante quand un utilisateur est connecté (avec la flèche vers le bas) -->
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"> <!-- C'est le "data-toggle="dropdown qui indique qu'ici c'est une liste déroulante (voir bootstrap) -->
                        <!-- AFFICHE LA PHOTO D'AVATAR ET LE NOM DE L'UTILISATEUR CONNECTE -->
                        <img src="{{app.user.picture}}" alt="avatar de {{app.user.getFullName}}" class="avatar avatar-mini">
                        {{app.user.getFullName}}
                    </a>
                    <!-- Contenu de la liste déroulante (si l'utilisateur est connecté) -->
                    <div class="dropdown-menu dropdown-menu-right" >
                        <a href="{{ path('account_infoUser') }}" class="dropdown-item">Mon compte</a>
                        <a href="{{ path('account_bookings') }}" class="dropdown-item">Mes réservations</a>
                        <a href="{{ path('account_profile') }}" class="dropdown-item">Modifier mon profil</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('ads_create') }}" class="dropdown-item">Créer une nouvelle annonce</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ path('account_logout') }}" class="dropdown-item">Deconnexion</a>
                    </div>
                </li>
            {% else %}
                {# Si l'utilisateur n'est pas connecté, on affiche des lien d'inscripation et de connexion #}
                <li class="nav-item">
                    <a href="{{ path('account_register') }}" class="nav-link">Inscription</a> {# Redirection vers le formulaire d'inscription #}
                </li>
                <li class="nav-item">
                    <a href="{{ path('account_login') }}" class="nav-link">Connexion</a> {# Redirection vers le formulaire la page de connexion #}
                </li>
            {% endif %}
        </ul>
    </div>
</nav>


{# CONFIGURATION D'UN FLASH (Message passé à l'utilisateur) #}
{# app est une variable globale (elle possède toutes sortes d'informations sur l'application et son état #}
{# dump(app.flashes) permet d'afficher le contenu des Flashes (affiche un tableau rempli si on se trouve sur .../ads/new ) #}
{# Affiche un tableau de type: Flash1 [[success => message1], [succes => message2] et Flash2 [[danger => message1], [danger => message2]] #}

{# Double boucle qui va parcourir un tableau inbriquer dans un autre #}
{% for label, messages in app.flashes %} {# label vaudra 'success' et messages vaudra la liste de messages #}
    <div class="container">
        <div class="alert alert-{{ label }}"> {# ici label vaudra succes, warning, ou danger ce qui modifiera la couleur du flash #}
            {% for message in messages %} {# Pour chaque message je veux un paragraphe #}
                <p>{{ message | raw }}</p>
            {% endfor %}
        </div>
    </div>
{% endfor %}
