{# PERMET L'AFFICHAGE DE L'ENSEMBLE DES ANNONCES (à mettre dans une boucle for pour que cela fonctionne) #}

{# On définit une variable twig avec le mot clé set (pour stocker le chemin vers la liste des annonces) #}
{% set url_to_list_ads =  path('ads_show', {'slug': ad.slug})  %}  
    <div class="col-md-4">
        <div class="card bg-light mb-3">
            <div class="card-header text-center">
                {# On aurait pu écrire aussi : {{ad.rooms}} chambres, <strong>{{ad.price}}&euros; grace à l'intelligence de twig #}
                {{ad.getRooms}} chambres, <strong>{{ad.getPrice}} euros / nuit</strong> <br>
                <small>Pas encore noté</small>
            </div>

            {# lien vers la liste des annonces via une variable twig déclarée au début de la boucle #}
            <a href="{{ url_to_list_ads }}">
                <img src="{{ad.coverImage}}" alt="Image de l'appartement" style="height: 200px; width: 100%; display: block">
            </a>

            <div class="card-body">
                <h4 class="card-body">
                    <a href="{{ url_to_list_ads }}">
                        {{ad.title}}
                    </a>
                </h4>
                <p class="card-text">
                    {{ad.introduction}}
                </p>
                <a href="{{ url_to_list_ads }}" class="btn btn-secondary">En savoir plus +!</a>
            </div>
        </div> 
    </div>