
{# CREATION D'UNE ANNONCE #}

{% extends 'base.html.twig'%}

{% block title %}Création d'une annonce{% endblock %}

{# AFFICHE NOS THEME PERSONNALISES #}
{% form_theme form 'ad/_collection.html.twig' %} {# RAPPEL : Le tag form_theme permet d'indiquer à twig un thème spécifique pour un formulaire,
et ici le code des thèmes est dans le fichier ad/_collection.html, s'il était dans ce même fichier il faudrait écrire _self à la place de la route #}


{% block body %}

    <div class="container">
        <h1 class="my-4">Créer une nouvelle annonce</h1>

        {{ form_start(form) }}

            <div class="row">
                <div class="col">
                    <div class="alert alert-secondary">
                        <h2>Informations générales</h2>
                        <hr>
                        {{ form_row(form.title) }}
                        {{ form_row(form.slug) }}
                        {{ form_row(form.price) }}
                        {{ form_row(form.rooms) }}
                    </div>
                    
                    <div class="alert alert-secondary">
                        <h2>Images de l'annonce</h2>
                        <hr>
                        {{ form_row(form.coverImage) }}
                        {{ form_row(form.images) }}
                        {# Le bouton "Ajouter une image" se trouve dans le fichier '_collection.html.twig' généré à l'appel du thème twig personnalisé #}
                    </div>

                </div>
                <div class="alert alert-secondary">
                    <h2>Détails de l'annonce</h2>
                    <hr>
                    {{ form_row(form.introduction) }}
                    {{ form_row(form.content) }}
                </div>
            </div>

            
            <button type="submit" class="btn btn-success">
                <i class="fas fa-check"></i> &nbsp;
                Créer la nouvelle annonce
            </button>

        {{ form_end(form) }} {# form_end() va, par défaut, forcer l'affichage de tout les champs absents #}
    </div>

{% endblock %}


{% block javascripts %}
    {# Script JQUERY qui va permettre lorsqu'on appuie sur le boutton 'Ajouter/Supprimer une image' de faire apparaitre l'entrée de l'url et de la légende ou la supprimer #}
    <script src="/js/ad.js"></script>
{% endblock %}


