{# AFFICHAGE D'UNE ANNONCE (ET SES INFORMATIONS) #}

{% extends 'base.html.twig' %}

{% block title %}
    {{ad.title}}
{% endblock %}

{%  block body %}

    <div class="ad-title" style="background-image: url({{ ad.coverImage }})">
        <div class="container">
            <h1>{{ ad.title }}</h1>
            <p>{{ ad.introduction }}</p>
            <p class="h2">
                <strong>{{ ad.rooms }} chambres</strong> pour <strong>{{ ad.price }} euros</strong> par nuit
            </p>
            <a href="#" class="btn btn-primary">Réserver !</a>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- DESCRIPTION DE L'ANNONCE -->
            <div class="col-md-8 mb-3">
                {{ ad.content | raw }} {# Filtre 'raw' affiche le texte sans protection (permet donc l'interprétation HTML) #}

                {# Carousel des Image de l'annonce #}
                {# Carousel copier de bootstrap dans Component > carousel, puis modifié pour nos besoins #}
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        {# Boucle qui permet que les puces d'indications du carousel soient au même nombre que les images #}
                        {% for image in ad.images %}
                        <li data-target="#carouselExampleIndicators" data-slide-to="{{ loop.index0 }}" {# Pour l'attribut data-slide-to, qui se doit d'être numéroté à chaque image, on utilise loop-index0 (ainsi une numérotation automatique sera faite) #}
                        class="{% if loop.first %}active{% endif %}"></li>
                        {% endfor %}
                    </ol>
                    <div class="carousel-inner">
                        {# Boucle qui permet d'inclure toutes le images en relation avec l'annonce #}
                        {% for image in ad.images %}
                        <div class="carousel-item {% if loop.first %}active{% endif %}">  {# cette condition permet de ne rendre active que la première image #}
                            <img class="d-block w-100" src="{{ image.url }}" alt="First slide">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>{{ad.title}}</h5>
                                <p>{{image.caption}}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
            <!-- INFO DU PROPRIETAIRE -->
            <div class="col">
                <div class="row mb-3 align-item-center">
                    <div class="col-3">
                        <!-- Lien qui nous mène vers les info de l'annonceur (localhost/user/'nom de l'annonceur') -->
                        <a href="{{ path('user_show', {'slug': ad.author.slug}) }}">
                            <!-- getFullName est une fonction qui retourne les 2 tags ad.author.firstName et ad.author.lastName (voir la fonction dans fichier User.php) -->
                            <img src="{{ ad.author.picture }}" class="avatar avatar-medium" alt="Avatar de {{ad.author.getFullName}}">
                        </a>
                    </div>
                    <div class="col">
                        <!-- Lien qui nous mène vers les info de l'annonceur (localhost/user/'nom de l'annonceur') -->
                        <a href="{{ path('user_show', {'slug': ad.author.slug}) }}">
                            <h3>{{ad.author.getFullName}}</h3>
                        </a>
                        <span class="badge badge-primary">{{ ad.author.ads | length }} annonces</span>
                    </div>
                </div>
                {{ad.author.description | raw }}
            </div>
        </div>
    </div>

{% endblock %}

